<div ng-controller='GoalsController as goalsController'>

  <div class="btn-group" uib-dropdown keyboard-nav>
    <button class="btn btn-primary fake-button">Focus on</button>
    <button id="goal-display" class="btn btn-primary no-hover fake-button">
      {{goalsController.priorityGoal.name || "...all my goals"}}
    </button>
    <button class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" uib-dropdown-menu role='menu' aria-labelledby='simple-btn-keyboard-nav'>
      <li ng-repeat='goal in goalsController.goals' role='menuitem' ng-click='goalsController.setPriorityGoal(goal)'>
        <a>{{goal.name}}</a>
      </li>
    </ul>

    <a href="/#/addnewgoal"><i class="glyphicon glyphicon-plus white"></i></a>
    <a ng-click="goalsController.priorityGoal"><i class="glyphicon glyphicon-minus white"></i></a>
  </div>


  <div class="col-md-2">
    <h3 class="span12">Daily</h3>
    <div class="row tasks-container">
      <div class="span12" ng-model='editingDaily' ng-hide='editingDaily' ng-controller='TasksController as controller' ng-init="controller.getTasksForGoal()">
        <ul class="list-unstyled" ng-repeat='task in controller.tasks | filter:{"goalId" : goalsController.priorityGoal.id}' ng-if='task.frequency == "daily"' >
          <li>
            <div class="pull-left">
              <input type="checkbox" ng-model="task.completed" ng-change="controller.editTask(task)">
              <span id="edit-task" editable-text="task.name" onaftersave="editTask(task)">{{ task.name }}</span>
            </div>
            <a class="pull-right" ng-click="controller.deleteTask(task)"><i class="glyphicon glyphicon-remove white"></i></a>
          </li>
        </ul>
      </div>

      <div id="goaltasks" class="span12" ng-repeat='goal in goalsController.goals | filter:{"id" : goalsController.priorityGoal.id}' ng-show="editingDaily">
        <div class="edit-goal-inline">
          <span editable-text="goal.name" onaftersave="editGoal(goal)">{{ goal.name }}</span>
        </div>
        <div ng-controller='TasksController as controller' ng-init="controller.getTasksForGoal(goal.id)">
          <ul class="list-unstyled" ng-repeat='task in controller.tasks' ng-if='task.frequency == "daily"'>
            <li>
              <div class="pull-left">
                <input type="checkbox" ng-model="task.completed" ng-change="controller.editTask(task)">
                <span editable-text="task.name" onaftersave="editTask(task)">{{ task.name }}</span>
              </div>
              <a class="pull-right" ng-click="controller.deleteTask(task)"><i class="glyphicon glyphicon-remove white"></i></a>
            </li>
          </ul>
          <div ng-model="task.frequency" ng-init="task.frequency='daily'">
            <input type="text"  editable-text="task.name" onaftersave="controller.addNewTask(task, goal.id)" placeholder="Add a task"></input>
          </div>
        </div>
      </div>
    </div>
    <a class="span12" ng-click="editingDaily=!editingDaily">Toggle edit</a>
  </div>

  <div class="col-md-2">
    <h3 class="span12">Weekly</h3>
    <div class="row tasks-container">
      <div class="span12" ng-model='editing' ng-hide='editing' ng-controller='TasksController as controller' ng-init="controller.getTasksForGoal()">
        <ul class="list-unstyled" ng-repeat='task in controller.tasks | filter:{"goalId" : goalsController.priorityGoal.id}' ng-if='task.frequency == "weekly"' >
          <li>
            <input type="checkbox" ng-model="task.completed" ng-change="controller.editTask(task)">
            <span id="edit-task" editable-text="task.name" onaftersave="editTask(task)">{{ task.name }}</span>
            <a ng-click="controller.deleteTask(task)"><i class="glyphicon glyphicon-remove white"></i></a>
          </li>
        </ul>
      </div>

      <div class="span12" ng-repeat='goal in goalsController.goals' ng-show="editing">
        <span editable-text="goal.name" onaftersave="editGoal(goal)"><p>{{ goal.name }}</p></span>
        <a ng-click="goalsController.deleteGoal(goal)"><i class="glyphicon glyphicon-remove white"></i></a>
        <div ng-controller='TasksController as controller' ng-init="controller.getTasksForGoal(goal.id)">
          <ul class="list-unstyled" ng-repeat='task in controller.tasks' ng-if='task.frequency == "weekly"'>
            <li>
              <input type="checkbox" ng-model="task.completed" ng-change="controller.editTask(task)">
              <span editable-text="task.name" onaftersave="editTask(task)">{{ task.name }}</span>
              <a ng-click="controller.deleteTask(task)"><i class="glyphicon glyphicon-remove white"></i></a>
            </li>
          </ul>
          <div ng-model="task.frequency" ng-init="task.frequency='weekly'">
            <input type="text"  editable-text="task.name" onaftersave="controller.addNewTask(task, goal.id)" placeholder="Add a task"></input>
          </div>
        </div>
      </div>
    </div>
    <a class="span12" ng-click="editing=!editing">Toggle edit</a>
  </div>

  <div class="col-md-2">
    <h3 class="span12">Monthly</h3>
    <div class="row tasks-container">
      <div class="span12" ng-model='editing' ng-hide='editing' ng-controller='TasksController as controller' ng-init="controller.getTasksForGoal()">
        <ul class="list-unstyled" ng-repeat='task in controller.tasks | filter:{"goalId" : goalsController.priorityGoal.id}' ng-if='task.frequency == "monthly"' >
          <li>
            <input type="checkbox" ng-model="task.completed" ng-change="controller.editTask(task)">
            <span id="edit-task" editable-text="task.name" onaftersave="editTask(task)">{{ task.name }}</span>
            <a ng-click="controller.deleteTask(task)"><i class="glyphicon glyphicon-remove white"></i></a>
          </li>
        </ul>
      </div>

      <div class="span12" ng-repeat='goal in goalsController.goals' ng-show="editing">
        <span editable-text="goal.name" onaftersave="editGoal(goal)"><p>{{ goal.name }}</p></span>
        <a ng-click="goalsController.deleteGoal(goal)"><i class="glyphicon glyphicon-remove white"></i></a>
        <div ng-controller='TasksController as controller' ng-init="controller.getTasksForGoal(goal.id)">
          <ul class="list-unstyled" ng-repeat='task in controller.tasks' ng-if='task.frequency == "monthly"'>
            <li>
              <input type="checkbox" ng-model="task.completed" ng-change="controller.editTask(task)">
              <span editable-text="task.name" onaftersave="editTask(task)">{{ task.name }}</span>
              <a ng-click="controller.deleteTask(task)"><i class="glyphicon glyphicon-remove white"></i></a>
            </li>
          </ul>
          <div ng-model="task.frequency" ng-init="task.frequency='monthly'">
            <input type="text"  editable-text="task.name" onaftersave="controller.addNewTask(task, goal.id)" placeholder="Add a task"></input>
          </div>
        </div>
      </div>
    </div>
    <a class="span12" ng-click="editing=!editing">Toggle edit</a>
  </div>

  <div class="col-md-2">
    <h3 class="span12">Just once</h3>
    <div class="row tasks-container">
      <div class="span12" ng-model='editing' ng-hide='editing' ng-controller='TasksController as controller' ng-init="controller.getTasksForGoal()">
        <ul class="list-unstyled" ng-repeat='task in controller.tasks | filter:{"goalId" : goalsController.priorityGoal.id}' ng-if='task.frequency == "once"' >
          <li>
            <input type="checkbox" ng-model="task.completed" ng-change="controller.editTask(task)">
            <span id="edit-task" editable-text="task.name" onaftersave="editTask(task)">{{ task.name }}</span>
            <a ng-click="controller.deleteTask(task)"><i class="glyphicon glyphicon-remove white"></i></a>
          </li>
        </ul>
      </div>

      <div class="span12" ng-repeat='goal in goalsController.goals' ng-show="editing">
        <span editable-text="goal.name" onaftersave="editGoal(goal)"><p>{{ goal.name }}</p></span>
        <a ng-click="goalsController.deleteGoal(goal)"><i class="glyphicon glyphicon-remove white"></i></a>
        <div ng-controller='TasksController as controller' ng-init="controller.getTasksForGoal(goal.id)">
          <ul class="list-unstyled" ng-repeat='task in controller.tasks' ng-if='task.frequency == "once"'>
            <li>
              <input type="checkbox" ng-model="task.completed" ng-change="controller.editTask(task)">
              <span editable-text="task.name" onaftersave="editTask(task)">{{ task.name }}</span>
              <a ng-click="controller.deleteTask(task)"><i class="glyphicon glyphicon-remove white"></i></a>
            </li>
          </ul>
          <div ng-model="task.frequency" ng-init="task.frequency='once'">
            <input type="text"  editable-text="task.name" onaftersave="controller.addNewTask(task, goal.id)" placeholder="Add a task"></input>
          </div>
        </div>
      </div>
    </div>
    <a class="span12" ng-click="editing=!editing">Toggle edit</a>
  </div>

  <!-- <div class="col-md-2"></div> -->
</div>
