/* Layout */

h1 {
  font-family: 'Raleway', sans-serif;
  padding: 15px;
}

/*#login {
  display: none;
}*/

body {
  background-image: url('../vendor/images/background.jpeg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  overflow: hidden;
}

.layer {
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.white {
  color: white;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

.fade {
  animation-delay: 0.2s !important;
  -webkit-animation-delay: 0.2s !important;
  -moz-animation-delay: 0.2s !important;
  -o-animation-delay: 0.2s !important;
  -webkit-transition-delay:0.2s;
  transition-delay:0.2s;
}

/* Navbar */

#right-side-of-navbar {
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 15px;
}

#sign-out-link {
  margin-top: 5px;
  text-align: right;
}

/* Welcome partial */

#welcome_title {
  font-size: 800%;
}
#welcome_tagline {
  font-size: 300%;
}

#tasks-remaining {
  font-size: 800%;
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
}
#button-div {
  text-align: center;
  margin: 0 auto;
}

#sign_in_button {
height:200px;
 width:400px;
 /*margin: 100px 60px;
 position:relative;
 top:10%;
 left:50%;*/
 font-size: 300%
}
#sign_up_button {
height:200px;
 width:400px;
 /*margin: -100px 60px;
 position:relative;
 top:10%;
 left:-30%;*/
 font-size: 300%
}

/* Focus on */
.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: transparent !important;
  border-color: #fff !important;
  outline: 0 !important;
  height: 50px;
  font-size: 150%;
}

.btn-primary:hover {
  background-color: #fff !important;
  border-color: #fff;
}

button.btn.btn-primary.fake-button:hover {
  background-color: transparent !important;
  cursor: default;
  box-shadow: none !important;
  outline: 0 !important;
}

#goal-display {
  width: 40%;
  border-left: none;
  border-right: none;
}

#goals {
  padding-top: 15px;
}

.dropdown-menu {
  background-color: rgba(245, 245, 245, .8);
  width: 40%;
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-49%, 0);
  max-height: 300px;
  overflow: auto;
  overflow-y: scroll;
}

.btn-group a {
  padding-left: 20px;
  font-size: 200%;
}

/* Tasks */

#task-list-container {
  overflow: auto;
  margin-top: 25px;
}
.tasks-container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  /*display: inline-block;*/
  margin: 25px 0px;
  padding: 6px 12px;
  height: 100%;
  max-height: 300px;
  overflow-y: scroll;
  text-align: left;
}

.task-container-header a i {
  font-size: 150%;
}

.task-container-header a {
  color: #fff;
}

.tasks-container h4 {
  font-size: 60%;
}

.completed-true {
  text-decoration: line-through;
  color: grey;
}

#frequency-title {
  text-align: center;
  margin: 6px;
}

#goal-tasks {
  font-size: 50%;
}



.list-group-item {
  background-color: transparent;
  border: none;
}

.edit-goal-inline {
  display: inline-block;
  text-decoration: none;
  border: none;
}

.edit-goal-inline .editable-click {
  border-bottom: 0px;
  font-size: 110%;
  font-weight: bold;
}

#goaltasks {
  margin-bottom: 15px;
}

input[type="checkbox"] {
  margin: 0px 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.form-control {
  display: initial;
  height: initial;
  outline: initial;
  box-shadow: initial;
}

.form-control:focus {
  display: initial;
  height: initial;
  border-color: initial;
  box-shadow: initial;
  outline: initial;
}

.editable-wrap {
  display: inline-block;
  margin: 0;
  width: 85%;
}
.editable-wrap .editable-controls, .editable-wrap .editable-error {
  margin-bottom: 0;
  width: 99%;
}
.editable-wrap .editable-controls>select {
    margin-bottom: 0;
}
.editable-wrap .editable-controls>input, .editable-wrap .editable-controls>textarea {
  margin-bottom: 0;
  width: 100%;
}


.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
  font-style: italic;
  color: initial;
  text-decoration: none;
}

.editable-click, a.editable-click {
  text-decoration: none;
  color: inherit;;
  border-bottom: dashed 1px #fff;
}

.editable-click:hover, a.editable-click:hover {
  text-decoration: none;
  color: #2a6496;
  border-bottom-color: #2a6496;
}

button[type="submit"], button[type="button"], input[type="submit"] {
  display: none;
}

/* Add new goal */
.centered {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 0;
  width: 100%;
  text-align: center;
}

.centered .question h1 {
  font-size: 800%;
}

.centered .question input {
  border-bottom: solid 1px #fff;
  width: 80% !important;
  margin-top: 15px;
  font-size: 400%;
  text-align: center;
}
