<div ng-controller='GoalsController as controller'>
  <form novalidate>
    <input id="new-goal-name" type="text" ng-model="goal.name" placeholder="What is your goal?">
    <input id='add-goal-button' type="submit" ng-click="controller.addNewGoal(goal)" value="add goal">
  </form>
    <div id='goals'>
      <p ng-repeat='goal in controller.goals'>
          <span id='goal' ng-click="editing = true"  ng-hide="editing">{{ goal.name }}</span>
          <span ng-show="editing">
            <input id='edit-goal' type="text"  ng-model=goal.name ng-blur="editing = false; controller.editGoal(goal)" >
            <a ng-click="editing = false" ></a>
          </span>
          <input type="checkbox" ng-model="goal.completed" ng-change="controller.editGoal(goal)">
          <button ng-click="controller.deleteGoal(goal)">X</button>
          <br>
          <span ng-include src="'js/partials/_tasks.html'"><span>
      </p>
    </div>
  </div>
