  <!-- <form novalidate>
    <input id="new-task-name" type="text" ng-model="task.name" placeholder="What are your tasks?">
    <input id='add-task-button' type="submit" ng-click="controller.addNewTask(task, goal.id)" value="Add task">
  </form> -->
  <div ng-controller='TasksController as controller' ng-init="controller.getTasksForGoal(goal.id)">
    <ul class="list-unstyled" ng-repeat='task in controller.tasks'>
      <li>
        <input type="checkbox" ng-model="task.completed" ng-change="controller.editTask(task)">
        <span id="edit-task" editable-text="task.name" onaftersave="editTask(task)">{{ task.name }}</span>
        <a ng-click="controller.deleteTask(task)">X</a>
      </li>
    </ul>
  </div>
