<span ng-controller='TasksController as controller'>
  <span ng-init="controller.getTasksForGoal(goal.id)"></span>
  <form novalidate>
    <input id="new-task-name" type="text" ng-model="task.name" placeholder="What are your tasks?">
    <input id='add-task-button' type="submit" ng-click="controller.addNewTask(task, goal.id)" value="Add task">
  </form>

  <div id='tasks'>
    <p ng-repeat='task in controller.tasks'>
        <span id='task' ng-click="editing = true"  ng-hide="editing">{{ task.name }}</span>

        <span ng-show="editing">
          <input id='edit-goal' type="text"  ng-model=task.name ng-blur="editing = false; controller.editTask(task)" >
          <a ng-click="editing = false" ></a>
        </span>
        <input type="checkbox" ng-model="task.completed" ng-change="controller.editTask(task)">
        <button ng-click="controller.deleteTask(task)">X</button>
        <br>
    </p>
  </div>
</span>
