<!doctype html>
<html lang="en" ng-app="goalbusterApp">
<head>
<meta charset="utf-8">
<title>Goalbuster App</title>

  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/goalsController.js"></script>
  <script type="text/javascript" src="js/factories/goalFactory.js"></script>
  <script type="text/javascript" src="js/services/goalService.js"></script>

</head>
  <body ng-controller='GoalbusterController as controller'>
    <div>
      <input id="new-goal-name" type="text" ng-model="goalText">
      <button id='add-goal-button' ng-click="controller.addNewGoal(goalText); controller.refreshGoals()">Add goal</button>
    </div>
    <div id='goals'>
      <p ng-repeat='goal in controller.goals'>
        {{ goal.name }} 
      </p>
    </div>
  </body>
</html>
