<div ng-controller='GoalsController as controller'>
  <!-- <form novalidate>
    <input id="new-goal-name" type="text" ng-model="goal.name" placeholder="What is your goal?">
    <input id='add-goal-button' type="submit" ng-click="controller.addNewGoal(goal)" value="add goal">
  </form> -->

  <!-- <div class="col-md-2"></div> -->

  <div class="col-md-3">
    <div class="tasks-container">
      <h3 id="frequency-title">Today<h3>
      <div ng-repeat='goal in controller.goals' ng-show="controller.priorityGoal === nil || controller.priorityGoal === goal">
        <span id="edit-goal" editable-text="goal.name" onaftersave="editGoal(goal)"><h4>{{ goal.name }}</h4></span>
        <a ng-click="controller.deleteGoal(goal)"><i class="glyphicon glyphicon-remove white"></i></a>
        <div ng-include src="'../partials/tasklists/_daily.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="tasks-container">
      <h3 id="frequency-title">This Week<h3>
      <div ng-repeat='goal in controller.goals' ng-show="controller.priorityGoal === nil || controller.priorityGoal === goal">
        <span id="edit-goal" editable-text="goal.name" onaftersave="editGoal(goal)"><h4>{{ goal.name }}</h4></span>
          <a ng-click="controller.deleteGoal(goal)"><i class="glyphicon glyphicon-remove white"></i></a>
          <div ng-include src="'../partials/tasklists/_weekly.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="tasks-container">
      <h3 id="frequency-title">This Month<h3>
      <div ng-repeat='goal in controller.goals' ng-show="controller.priorityGoal === nil || controller.priorityGoal === goal">
        <span id="edit-goal" editable-text="goal.name" onaftersave="editGoal(goal)"><h4>{{ goal.name }}</h4></span>
          <a ng-click="controller.deleteGoal(goal)"><i class="glyphicon glyphicon-remove white"></i></a>
          <div ng-include src="'../partials/tasklists/_monthly.html'"></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="tasks-container">
      <h3 id="frequency-title">One offs<h3>
      <div ng-repeat='goal in controller.goals' ng-show="controller.priorityGoal === nil || controller.priorityGoal === goal">
        <span id="edit-goal" editable-text="goal.name" onaftersave="editGoal(goal)"><h4>{{ goal.name }}</h4></span>
          <a ng-click="controller.deleteGoal(goal)"><i class="glyphicon glyphicon-remove white"></i></a>
          <div ng-include src="'../partials/tasklists/_once.html'"></div>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-2"></div> -->
</div>
