<div ng-controller='GoalsController as goalsController' ng-init="controller.getGoalsForUser()">

  <div class="btn-group" uib-dropdown keyboard-nav>
    <button class="btn btn-primary fake-button">Focus on</button>
    <button id="goal-display" class="btn btn-primary no-hover fake-button">
      {{goalsController.priorityGoal.name || "...all my goals"}}
    </button>
    <button class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" uib-dropdown-menu role='menu' aria-labelledby='simple-btn-keyboard-nav'>
      <li ng-repeat='goal in goalsController.goals' role='menuitem' ng-click='goalsController.setPriorityGoal(goal)'>
        <a>{{goal.name}}</a>
      </li>
    </ul>

    <a href="/#/addnewgoal"><i class="glyphicon glyphicon-plus white"></i></a>
  </div>
  <div id="task-list-container">
    <div class="col-md-2"></div>
    <div ng-include  src="'../partials/tasklists/_daily.html'"></div>
    <div ng-include  src="'../partials/tasklists/_weekly.html'"></div>
    <div ng-include  src="'../partials/tasklists/_monthly.html'"></div>
    <div ng-include  src="'../partials/tasklists/_once.html'"></div>
    <div class="col-md-2"></div>
  </div>
</div>
