<div ng-controller='UsersController as usersController'>
  <div ng-show="usersController.isUserValid()" class="pull-left">
    <h1>Aspyre</h1>
  </div>

  <div ng-show="usersController.isUserValid()" class="pull-right" id="right-side-of-navbar" ng-controller='FeaturesController as controller' ng-init="controller.weather()">

    <a><i class="glyphicon glyphicon-cloud white"></i>&nbsp</a>
    {{controller.city}}
    18°C

    <div ng-show="usersController.isUserValid()" id="sign-out-link">
      <a ng-click="signOut()">Sign out</a>
    </div>

  </div>

</div>
