<div id="login" ng-controller='UsersController as controller'>

  <!-- <div class="form-group">
    <button ng-click="authenticate('github')">Sign in with Github</button>
  </div> -->

  <form ng-submit="controller.submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">

    <div class="centered" class="question" ng-hide="hide1" ng-model="readyToSubmit">
      <label>What is your name?</label>
      <input type="string" name="string" ng-model="registrationForm.name" required="required" class="form-control" ng-enter="hide1=!hide1; hide2=!hide2"/>
    </div>

    <div class="centered" class="question" ng-show="hide2">
      <label>Please enter your email</label>
      <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control" ng-enter="hide3=!hide3; hide2=!hide2"/>
    </div>

    <div class="centered" class="question" ng-show="hide3">
      <label>Please enter your password</label>
      <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control" ng-enter="readyToSubmit=!readyToSubmit; hide4=!hide4; hide3=!hide3"/>
    </div>

    <div class="centered" class="question" ng-show="hide4">
      <label>Please confirm your password</label>
      <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary btn-lg" ng-disabled="!readyToSubmit">Register</button>

  </form>

  <button  class="btn btn-primary btn-sm" onclick="window.location.href='/#/'">Back</button>
</div>
