<div ng-controller='GoalsController as controller'>
  <div id="goals-container" class="btn-group" uib-dropdown keyboard-nav>
    <button class="btn btn-primary fake-button">Focus on</h2>
    <button id="goal-display" class="btn btn-primary no-hover fake-button">
      {{controller.priorityGoal.name || "...all my goals"}}
    </button>
    <button class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown" uib-dropdown-menu role='menu' aria-labelledby='simple-btn-keyboard-nav'>
      <li ng-repeat='goal in controller.goals' role='menuitem' ng-click='controller.setPriorityGoal(goal)'>
        <a>{{goal.name}}</a>
      </li>
    </ul>
  </div>

  <!-- <div class="">
    <input id="new-goal-name" type="text" ng-model="controller.goalText" placeholder="What is your goal?">
    <button id='add-goal-button' ng-click="controller.addNewGoal(controller.goalText)">Add goal</button>
  </div> -->

    <div id='goals'>
      <p ng-repeat='goal in controller.goals'>
          <!-- <span id='goal' ng-click="editing = true"  ng-hide="editing">{{ goal.name }}</span>
          <span ng-show="editing">
            <input id='edit-goal' type="text"  ng-model=goal.name ng-blur="editing = false; controller.editGoal(goal.name,goal.id)" >
            <a ng-click="editing = false" ></a>
          </span>
          <button ng-click="controller.deleteGoal(goal.id)">X</button>
          <br> -->
          <span ng-include src="'js/partials/_tasks.html'"><span>
      </p>
    </div>
</div>
