<div ng-controller='GoalsController as controller'>
  <form novalidate>
    <input id="new-goal-name" type="text" ng-model="goal.name" placeholder="What is your goal?">
    <input id='add-goal-button' type="submit" ng-click="controller.addNewGoal(goal)" value="add goal">
  </form>

  <div id="goals-container" class="btn-group" uib-dropdown keyboard-nav>
    <button class="btn btn-primary fake-button">Focus on</h2>
    <button id="goal-display" class="btn btn-primary no-hover fake-button">
      {{controller.priorityGoal.name || "...all my goals"}}
    </button>
    <button class="btn btn-primary dropdown-toggle" uib-dropdown-toggle>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown" uib-dropdown-menu role='menu' aria-labelledby='simple-btn-keyboard-nav'>
      <li ng-repeat='goal in controller.goals' role='menuitem' ng-click='controller.setPriorityGoal(goal)'>
        <a>{{goal.name}}</a>
      </li>
    </ul>
  </div>

    <div id='goals'>
      <p ng-repeat='goal in controller.goals'>
        <span ng-include src="'js/partials/_tasks.html'"><span>
      </p>
    </div>
</div>
