<div class="col-md-2">
  <div class="row task-container-header">
    <h3>Monthly</h3>
    <a ng-hide="showMonthly" ng-click="showMonthly=!showMonthly"><i class="glyphicon glyphicon-chevron-down white"></i></a>
    <a ng-show="showMonthly" ng-click="showMonthly=!showMonthly"><i class="glyphicon glyphicon-chevron-up white"></i></a>
    <div class="span12">
      <a class="span12" ng-show="showMonthly && !editingMonthly" ng-click="editingMonthly=!editingMonthly">Add tasks</a>
      <a class="span12" ng-show="showMonthly && editingMonthly" ng-click="editingMonthly=!editingMonthly">View tasks</a>
    </div>
  </div>
  <div ng-show="showMonthly">
    <div ng-show="showMonthly" class="row tasks-container">
      <div id="goaltasks" class="span12" ng-repeat='goal in goalsController.goals | filter:{"id" : goalsController.priorityGoal.id}'>
        <div ng-show='editingMonthly' class="edit-goal-inline">
          <span editable-text="goal.name" onaftersave="goalsController.editGoal(goal)">{{ goal.name }}</span>
        </div>
        <div ng-controller='TasksController as controller' ng-init="controller.getTasksForGoal(goal.id)">
          <ul class="list-unstyled" ng-repeat='task in controller.tasks' ng-if='task.frequency == "monthly"'>
            <li>
              <input type="checkbox" ng-model="task.completed" ng-change="controller.editTask(task)">
              <span class="completed-{{task.completed}}" id="edit-task" editable-text="task.name" onaftersave="controller.editTask(task)">{{ task.name }}</span>
              <a class="pull-right" ng-click="controller.deleteTask(task)"><i class="glyphicon glyphicon-remove white"></i></a>
            </li>
          </ul>
          <form ng-show='editingMonthly' name='controller.newTaskForm' novalidate ng-submit="controller.addNewTask(task, goal.id); task = {}">
            <input type="hidden" ng-model="task.frequency" ng-value="task.frequency='monthly'">
            <input type="text" ng-model='task.name' placeholder="Add a task">
            <input class="btn-primary" type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
